#fullcalendar{
clear:both;
}
.fc table, .fc-widget-header, .fc-widget-content{
	color:#000;
	border-color:#000;
}
.fc .ui-resizable-handle{
	/*display:none !important;*/
}

.fc-grid .fc-event-time {
	padding-right: 5px;
}
.client_list_wrapper{
	height: 60px;
    overflow: auto;
}
.color-label-wrapper li{
	padding:10px;
}
.icons-list-wrapper li{
	padding:10px;
}
.list-task-settings{
	background-color:#EEEEEE;
}
.list-task-settings table thead tr th{
	background-color:#999;
	color:#FFFFFF;
}
.icons-list{
	height:500px;
	overflow:auto;
}
