body {
margin:0;
padding:0;
background:#eeeeee;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#000000;
}

.viewing_mobile {
text-align:center;
font-size:12px;
width:100%;
padding-top:20px;
padding-bottom:20px;
}

#top_bar {
height:45px;
background:#00dbff url(../img/web_header.png) bottom center repeat-x;
border-bottom:#00a8c4 2px solid;
position:relative;
}

#top_bar > h1 {
position:absolute;
color:#FFFFFF;
margin:1px 0 0 -75px;
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
text-align:center;
line-height:1em;
top:10px;
left:50%;
}

.back_button {
border:#333 1px solid;
background:#00a8c4 url(../img/web_back_arrow.png) left center no-repeat;
color:#FFFFFF;
padding:5px;
text-decoration:none;
left:5px;
top:8px;
min-width:60px;
text-align:right;
position:absolute;
-webkit-border-radius:5px;
}

#container {
position:absolute;
width:100%;
}

#content_container {
}

.list {
background:#fff;
-webkit-border-radius:8px;
border:#CCCCCC 1px solid;
font-size:18px;
display:block;
list-style:none;
padding:0px;
margin:15px 10px 17px 10px;
}

.list li:first-child {
border-top:none;
}

.list li {
padding:10px;
border-top:#cccccc 1px solid;
color:#333;
}

.list li a {
color:#333;
text-decoration:none;
display:block;
margin-right:20px;
}

.list li.arrow {
background:url(../img/web_arrow.png) right center no-repeat;
}

.wide_list {
background:#fff;
font-size:18px;
display:block;
list-style:none;
padding:0px;
margin:0px;
color:#666;
}

.wide_list li:first-child {
border-top:none;
}

.wide_list li {
padding:10px;
border-top:#cccccc 1px solid;
}

.wide_list li a {
color:#666;
text-decoration:none;
display:block;
margin-right:20px;
}

.wide_list li.arrow {
background:url(../img/web_arrow.png) right center no-repeat;
}

.title_bar {
background:#96A6BD;
padding:5px;
text-align:left;
color:#ffffff;
}

.task_empty {
padding:10px;
}

input[type=text] {
width:50%;
padding:5px;
-webkit-border-radius:5px;
border:#333 1px solid;
}

.button {
padding:5px;
}

#content_container h3 {
margin:10px 0;
padding:0;
}

#content_container h4 {
margin:10px;
padding:0;
color:#647fa6;
}

#client_top_buttons {
clear:both;
width:100%;
overflow:hidden;
padding:0;
margin:0;
}

#client_top_buttons li {
background:#d1d1d1;
border:#666 1px solid;
-webkit-border-radius:5px;
-webkit-box-sizing: border-box;
display:block;
float:left;
text-align:center;
padding:10px;
width:40%;
margin:0 10px;
}

#client_top_buttons li + li {
float:right;
}

#client_top_buttons li .btn {
}
