body {
font-family:"Times New Roman", Times, serif;
font-size:10px;
padding:0;
margin:0;
}

h1,h2,h3,h4,h5,h6 {
margin:0px;
padding:0px;
}

td {
padding:0px;
}

tr.odd {
background:#eeeeee;
border:#ccc 1px solid;
}

tr.even {
background:#e0dfdf;
border:#ccc 1px solid;
}

table.quotes {
border-collapse:collapse;
box-shadow: 10px 10px 5px #888888;
font-size:12px;
}
