body {
background-color:#eee;
color:#464646;
}

.btn {
background:#FFFFFF;
border:#000000 1px solid;
font-weight:bold;
}

.btn_with_icon {
margin-top:-2px;
}

.edit_task:hover {
background:url(../img/edit-icon.png) right no-repeat;
}

#header_container {
background:#ffffff;
margin:0px;
padding:0px;
}

#globalSearchResults {
width:300px;
background:#464646;
min-height:50px;
right:0px;
z-index:2;
clear:right;
right:10px;
padding:10px;
color:#FFFFFF;
position:absolute;
border-radius:4px;
}

#upper_nav {
padding:5px 10px 5px 5px;
text-align:right;
background:#fff;
color:#333;
font-size:11px;
background:#f5f5f5;
}

#upper_nav a:link, #upper_nav a:active, #upper_nav a:visited {
color:#333;
text-decoration:none;
}

#client_display_name {
font-size:18px;
font-weight:bold;
float:left;
padding:10px 0px;
color:#fff;
}

.nav { margin-bottom: 0px; }

#client_tag_area {
float:left;
margin-left:20px;
margin-top:12px;
}

#client_tag_area_edit {
padding:5px;
float:left;
margin-left:20px;
margin-top:5px;
}

#client_tag_selection {
margin-top:7px;
}

.somespacefornav {
clear:both;
padding-top:10px;
}

#logo {
padding:10px;
}

#cssmenu {
width: 100%;
height: 50px;
margin: 0;
padding: 0;
background:#fff;
padding-top:10px;
}
#cssmenu ul {
list-style: none;
margin: 0;
padding: 0;
}
#cssmenu ul li {
float: left;
margin: 0;
padding: 0;
}

#cssmenu ul li a {
display: block;
height: 27px;
padding-left: 15px;
float: left;
text-transform: uppercase;
font-family: 'Noto Sans', sans-serif;
font-size: 12px;
color: #333;
text-decoration: none;
}

#cssmenu ul li a span {
display: block;
float: left;
height: 22px;
padding-top: 5px;
padding-right: 15px;
cursor: pointer;
}

#cssmenu ul li a:hover,
#cssmenu ul li.active a {
}
#cssmenu ul li a:hover span,
#cssmenu ul li.active a span {
}

#container_top {
background:#ccc;
padding:10px 40px 0px 40px;
color:#fff;
}

.contact_info { 
list-style-type:none;
margin:0;
padding:0;
}

.nav-tabs {
border-bottom:none;
}

.well {
background-color:#fff;
}

#client-list {
border:#999 1px solid;
}

#client-list.table th,
#client-list.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #999;
  background-color:#e2e2e2;
}

#client-list .client-row th,
#client-list .client-row td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #999;
  background-color:#eee;
}


#file-list td {
border-top:none;
padding:0px;
}

input[type="text"], input[type="password"] {
padding:0px 0px 0px 5px;
}

/*.label-info { background:#DB276C;

.label-info { border:#BA0F51 2px solid; background:#FFFFFF; color:#BA0F51; font-weight:bold; padding:1px 3px; }
*/

.label-info { border:#464646 2px solid; background:#FFFFFF; color:#464646; font-weight:bold; padding:1px 3px; }


.label-important { background:#888; }

table.calender {
width:90%;
margin:0 auto;
padding:5px;
border-collapse:collapse;
}

table th {
padding:0px 0px 20px 0px;
}

.calender .day_name td {
text-align:center;
padding:5px;
font-weight:bold;
border:#999 1px solid;
}

.calender .days td {
width:100px;
height:100px;
padding:5px;
border:#999999 1px solid;
vertical-align:top;
}

.calender .days td:hover {
background:#F5F5F5;
}

.calender .highlight {
font-weight:bold;
}

table.updates {
}

.updates .updates_list td {
border-bottom:#E3E3E3 1px solid;
padding-bottom:5px;
padding-top:5px;
}

.scrollable {
height: 100%;
overflow: auto;
}

.people_lower_name {
line-height:1em;
}

.to_much_space {
margin-top:-10px;
}

#cssmenu2 {
width: 100%;
height: 20px;
margin: 0;
padding: 0;
background:#d55444;
padding-top:5px;
padding-bottom:8px;
}
#cssmenu2 ul {
list-style: none;
margin: 0;
padding: 0;
}
#cssmenu2 ul li {
float: left;
margin: 0;
padding: 0;
}

#cssmenu2 ul li a {
display: block;
height: 27px;
padding-left: 15px;
float: left;
font-family: 'Noto Sans', sans-serif;
font-size: 12px;
color: #fff;
text-decoration: none;
font-weight:bold;
line-height:1em;
}

#cssmenu2 ul li a span {
display: block;
float: left;
height: 22px;
padding-top: 5px;
cursor: pointer;
}

#cssmenu2 ul li a:hover,
#cssmenu2 ul li.active a {
color:#464646;
}
#cssmenu2 ul li a:hover span,
#cssmenu2 ul li.active a span {
}

#client_image_select:hover {
background:#000000;
}

.cal_hover {
background:#ededed;
}

.day_content {
min-height:100px;
height:auto !important;
height:100px;
}

.task_draggable:hover {
background:#e6e6e6;
border:#ccc 1px solid;
padding:1px;
cursor:move;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus,
.nav > li > a:hover, .nav > li > a:focus {
background-color:#d55444;
border:none;
color:#fff;
}

.nav-tabs > li > a {
color:#FFFFFF;
padding-left:8px;
padding-right:8px;
}

.modal {
color:#000;
}

a {
color:#d55444;
}
